<div class="row">
    <div class="col align-self-center">
        <form action="/user/signup/" method="post" class="form-signup">
            <h2>Cadastre-se</h2>
            Validations Errors
            <div class="form-group">
                <label for="email">E-mail</label>
                <input type="text" name="email" id="email" class="form-control">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" name="password" id="password" class="form-control">
            </div>
            <input type="hidden" name="_csrf" value="{{ csrfToken }}">
            <button class="btn btn-lg btn-primary btn-block" type="submit">Cadastrar</button>             
        </form>
        
    </div>    
</div>