<div class="row">
    <div class="col-md-3">
        <div class="card">
            <img class="card-img-top thumb-product img-responsive" src="https://placeimg.com/640/480/any" alt="Card image cap">
            <div class="card-body">
                <h4 class="card-title">Produto</h4>
                <p class="card-text description-product">Descrição do produto</p>
                <div>
                    <div class="price-product pull-left">R$ 12,00</div>
                    <a href="#" class="btn btn-success pull-right"><i class="fa fa-plus-circle" aria-hidden="true"></i> Pedido</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <img class="card-img-top thumb-product img-responsive" src="https://placeimg.com/640/480/any" alt="Card image cap">
            <div class="card-body">
                <h4 class="card-title">Produto</h4>
                <p class="card-text description-product">Descrição do produto</p>
                <div>
                    <div class="price-product pull-left">R$ 12,00</div>
                    <a href="#" class="btn btn-success pull-right"><i class="fa fa-plus-circle" aria-hidden="true"></i> Pedido</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <img class="card-img-top thumb-product img-responsive" src="https://placeimg.com/640/480/any" alt="Card image cap">
            <div class="card-body">
                <h4 class="card-title">Produto</h4>
                <p class="card-text description-product">Descrição do produto</p>
                <div>
                    <div class="price-product pull-left">R$ 12,00</div>
                    <a href="#" class="btn btn-success pull-right"><i class="fa fa-plus-circle" aria-hidden="true"></i> Pedido</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <img class="card-img-top thumb-product img-responsive" src="https://placeimg.com/640/480/any" alt="Card image cap">
            <div class="card-body">
                <h4 class="card-title">Produto</h4>
                <p class="card-text description-product">Descrição do produto</p>
                <div>
                    <div class="price-product pull-left">R$ 12,00</div>
                    <a href="#" class="btn btn-success pull-right"><i class="fa fa-plus-circle" aria-hidden="true"></i> Pedido</a>
                </div>
            </div>
        </div>
    </div>
</div>
